*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #005ecb;
  --secondary-color: green;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
}

body {
  font-family: "noto sans", sans-serif;
  background-color: var(--main-color);
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

section {
  padding: 4em 0;
}

footer {
  padding: 4em 0 0.25em;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: #222;
  padding: 0.375em 0.75em;
  margin: 1rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 1rem;
  border: 2px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.btn:hover {
  color: #fff;
  background: #222;
}

@media (max-width: 768px) {
  section {
    padding: 7em 0;
  }
}
