.small-img-container {
  width: 180px;
  height: 240px;
  display: grid;
  place-items: center;
}

.small-img-container img{
  width: 180px;
}

.large-img-container {
  width: 550px;
  height: 640px;
  display: grid;
  place-items: center;
}

.gridwrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #444;
}

.box {
    color: #fff;
}

.a {
    grid-column:1 /span 2;
    grid-row: 1 /span 2;
    background-color: blue;
}

.b {
    grid-column: 3 /span 2;
    grid-row: 1 ;
    background-color: brown;
}

.c {
    grid-column: 3 /span 2;
    grid-row: 2 ;
    background-color: yellowgreen;
}

.item {
    display: inline-block;
  }

.featured-image {
    float: left;
    width: 40%;
    padding-right: 15px;
  }
  
  .featured-image img {
    width: 100%;
  }

  .a .featured-image img {
    height: 333px;
  }

  .b .featured-image img {
    height: 160px;
    max-width: 100%;
  }

  .c .featured-image img {
    height: 160px;
    max-width: 100%;
  }

  .description {
    float: left;
    width: 60%;
  }

@media (max-width: 992px) {
    .gridwrapper {
        grid-template-columns: 1fr;
        
    }

    .a {
        grid-column: 1;
        grid-row: 1;
    }

    .b {
        grid-column: 1;
        grid-row: 2;
    }

    .c {
        grid-column: 1;
        grid-row: 3;
    }

    .featured-image {
        width: 30%;
    }



    .featured-image img {
        width: 100%;
        max-width: 100%;
        height: 180px;
      }

      .description {
        
        width: 70%;
      }
}

@media screen and (max-width: 620px) {
    .featured-image {
        text-align: center;
      width: 100%;
    }
    .featured-image img {
      width: 200px;
      height: auto;
    }
    .description {
      width: 100%;
      text-align: center;
    }
  }
  