.comments-section {
  padding: 0 1rem;
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 12px;
}

.author-rating {
  margin: 8px 0;
}