.settings {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
}

.settings-menu {
    background-color: var(--white);
    border-radius: 10px;
}

.settings-user-info {
    padding: 1.4rem 0;
    text-align: center;
}

.settings-menu-buttons {
    list-style: none;
    padding: 1rem 1.25rem;
}

.menu-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.75rem 0;
    border-bottom: var(--gray-400) solid 1px;
    transition: background-color 0.3s linear;
}

.settings-menu-buttons .menu-button:last-child {
    border-bottom: none;
}

.menu-button:hover {
    background-color: var(--gray-200);
}

.active {
    background-color: var(--gray-200);
}

.my-account {
    background-color: var(--white);
    border-radius: 10px;
    padding: 1rem 1.25rem;
}

.my-account-form-container {
    margin-top: 1.5rem;
}

.my-account-inputs-container {
    display: flex;
}

.my-account-inputs-container .my-account-input-container:first-child {
    margin-right: 0.5rem;
}

.my-account-input-container {
    width: 100%;
    margin-bottom: 0.625rem;
}

.my-account-input {
    width: 100%;
    padding: 1.25rem 0.625rem 1rem;
    height: 2rem;
    border: 2px solid var(--gray-400);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.my-account-input:focus {
    border: 2px solid var(--main-color);
}

.my-account-button {
    cursor: pointer;
    background-color: var(--gray-200);
    padding: 0.625rem;
    border-radius: 10px;
    margin-bottom: 8px;
    transition: background-color 0.3s linear;
}

.my-account-button:hover {
    background-color: var(--gray-400);
}

@media (max-width: 1200px) {
    .settings {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 550px) {
    .my-account-inputs-container {
        display: flex;
        flex-direction: column;
    }
    
    .my-account-inputs-container .my-account-input-container:first-child {
        margin-right: 0;
    }
}