.cards {
  column-count: 3;
  gap: 1rem;
  padding: 1rem;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  break-inside: avoid;
  margin-bottom: 1rem;
}

.card-header img {
  width: 100%;
  height: 220px;
  
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.125rem;
  min-height: 250px;
}

.card-body h4 {
  margin-bottom: 0.5rem;
}

@media (max-width: 991px) {
  .cards {
    column-count: 2;
  }
}

@media (max-width: 650px) {
  .cards {
    column-count: 1;
    padding: 1rem 0;
  }

  .card {
    width: 340px;
    margin: 0 auto 1.5rem;
  }
}

@media (max-width: 400px) {
  .cards {
    column-count: 1;
    padding: 1rem 0;
  }

  .card {
    width: 100%;
    margin: 0 0 1.5rem;
  }
}