a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  padding: 1.25rem;
  font-size: 0.875rem;
  background-color: #24292f;
  color: #fff;
}

.nav-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-logo i {
  padding-right: 0.5rem;
  font-size: 1.875rem;
}

.main-nav ul {
  list-style: none;
  display: flex;
}

.main-nav ul li {
  padding: 0 0.625rem;
}

.main-nav ul li a:hover {
  color: #afb8c1;
}

.pull-left {
  flex: 1;
  margin-left: 1.25rem;
}

.left-nav {
  display: flex;
}

.nav-search {
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #8c959f;
  outline: none;
  padding: 0 0.875em;
  width: 100%;
  margin-left: 1.25rem;
}

.middle-nav .nav-search {
  display: none;
}

.nav-search::placeholder {
  color: #8c959f;
}

.nav-search:focus {
  background-color: #fff;
}

.nav-search:focus::placeholder {
  color: #8c959f;
}

.mobile-nav-link {
  display: none;
}

.mobile-nav-link i {
  margin-right: 0.25rem;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  right: 1.875rem;
  z-index: 2;
  display: none;
}

@media (max-width: 780px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav .middle-nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #24292f;
    width: 60%;
    height: 100%;
    border-right: #ccc 1px solid;
    padding: 1.875rem;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .middle-nav-menu {
    display: flex;
    flex-direction: column;
  }

  .middle-nav .middle-nav-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
  }

  .middle-nav .middle-nav-menu li:last-child {
    border-bottom: 0;
  }

  .middle-nav.show {
    transform: translateX(-20px);
  }

  .middle-nav .nav-search {
    display: block;
    margin-left: 0;
    margin-bottom: 0.5rem;
    padding: 0.5em 0.875em;
  }

  .main-nav ul.right-nav {
    margin-right: 3.125rem;
  }

  .pull-left {
    margin-left: 0;
  }

  .left-nav .nav-search {
    display: none;
  }
}

@media (max-width: 400px) {
  ul.right-nav {
    display: none;
  }

  .mobile-nav-link {
    display: block;
  }
}
